<!DOCTYPE html>
<html lang="en">

<head>

	<!-- mobile settings -->
	<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
	<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

	<!-- WEB FONTS : use %7C instead of | (pipe) -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" rel="stylesheet">
	<!-- CORE CSS -->
    <%= stylesheet_link_tag "plugins/bootstrap/css/bootstrap.min" %>

	<!-- REVOLUTION SLIDER -->
    <%= stylesheet_link_tag "plugins/slider.revolution/css/extralayers" %>
    <%= stylesheet_link_tag "plugins/slider.revolution/css/settings" %>


	<style>
		.bgcolor {
			background-color: steelblue;
		}

		.img-sizefit180 {
			height: 180px;
			object-fit: cover;
		}

		.img-sizefit220 {
			height: 220px;
			object-fit: cover;
		}

		.img-logo {
			width: 100px;
			height: 100px;
			object-fit: contain;
		}
	</style>
</head>
<!--
		AVAILABLE BODY CLASSES:
		
		smoothscroll 			= create a browser smooth scroll
		enable-animation		= enable WOW animations

		bg-grey					= grey background
		grain-grey				= grey grain background
		grain-blue				= blue grain background
		grain-green				= green grain background
		grain-blue				= blue grain background
		grain-orange			= orange grain background
		grain-yellow			= yellow grain background
		
		boxed 					= boxed layout
		pattern1 ... patern11	= pattern background
		menu-vertical-hide		= hidden, open on click
		
		BACKGROUND IMAGE [together with .boxed class]
		data-background="assets/_smarty/boxed_background/1.jpg"
	-->

<body id="top" class="smoothscroll enable-animation grain-blue">

		<!-- REVOLUTION SLIDER -->
		<div class="slider fullwidthbanner-container roundedcorners">

			<div class="fullwidthbanner" data-height="600" data-shadow="0" data-navigationStyle="preview2">
				<ul class="hide">

					<!-- SLIDE  -->
					<li data-transition="parallaxtobottom" data-slotamount="7" data-masterspeed="600"
						data-saveperformance="off" data-title="Our Company">
						<!-- MAIN IMAGE -->
						<img src="assets/AdobeStock_122227340.jpeg" alt="cover image with sky elevator"
							data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

						<div class="tp-caption white_big skewfromleft tp-resizeme"
							data-x="471"
							data-y="100" 
							data-speed="400"
							data-start="1500"
							data-easing="Power3.easeInOut"
							data-splitin="none"
							data-splitout="none"
							data-elementdelay="0.1"
							data-endelementdelay="0.1"
							data-endspeed="600"
							style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
							Elevate Safety, <br />
							Speed and Style
						</div>

						<div class="tp-caption skewfromleft tp-resizeme  un-button-2-lg"
							data-x="665"
							data-y="300" 
							data-speed="300"
							data-start="2500"
							data-easing="Power3.easeInOut"
							data-splitin="none"
							data-splitout="none"
							data-elementdelay="0.1"
							data-endelementdelay="0.1"
							data-endspeed="300"

							style="z-index: 5;  max-width: auto; max-height: auto; white-space: nowrap;">
								<a class="btn btn-red btn-lg" href="#services">OUR SERVICES &nbsp; <i class="fa fa-angle-right"></i></a>
								<a class="btn btn-default btn-lg" href="quoteform">GET A QUOTE &nbsp; <i class="fa fa-angle-right"></i></a>
						</div>
					</li>
					<!-- SLIDE  -->
					<li data-transition="parallaxtotop" data-slotamount="7" data-masterspeed="300"
						data-saveperformance="off" data-title="Residential Buildings">
						<!-- MAIN IMAGE -->
						<img src="assets/AdobeStock_72034307.jpeg"
							alt="cover image with elevators and people waiting" data-bgposition="center top"
							data-bgfit="cover" data-bgrepeat="no-repeat">

						<div class="overlay dark-4">
							<!-- dark overlay [0 to 9 opacity] -->
						</div>
							<div class="tp-caption font-roboto skewfromleft tp-resizeme"
								data-x="50"
								data-y="100" 
								data-speed="500"
								data-start="1500"
								data-easing="Cubic.easeOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
									Helping You Get Home <br />
									Faster
							</div>

							<div class="tp-caption skewfromrightshort tp-resizeme"
								data-x="50"
								data-y="300" 
								data-speed="500"
								data-start="1000"
								data-easing="easeInCirc"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 3; font-size:20px; color:#fff; font-weight:300; text-shadow:none;">
									Learn more about our residential building services.
							</div>

							<div class="tp-caption sfb tp-resizeme"
								data-x="50"
								data-y="410" 
								data-speed="500"
								data-start="1500"
								data-easing="Power3.easeIn"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 4; max-width: auto;">
									<a class="btn btn-red btn-lg" href="residential">OUR SERVICES &nbsp; <i class="fa fa-angle-right"></i></a>
							</div>

							<div class="tp-caption sfb tp-resizeme"
								data-x="250"
								data-y="410" 
								data-speed="500"
								data-start="1500"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">
									<a class="btn btn-default btn-lg" href="quoteform">GET A QUOTE &nbsp; <i class="fa fa-angle-right"></i></a>
							</div>
					</li>
					<!-- SLIDE  -->
					<li data-transition="parallaxtotop" data-slotamount="7" data-masterspeed="300"
						data-saveperformance="off" data-title="Corporate Buildings">
						<!-- MAIN IMAGE -->
						<img src="assets/AdobeStock_78149317.jpeg"
							alt="cover image with person pressing button in elevator" data-bgposition="center top"
							data-bgfit="cover" data-bgrepeat="no-repeat">

						<div class="overlay dark-4">
							<!-- dark overlay [0 to 9 opacity] -->
						</div>

							<div class="tp-caption font-roboto skewfromleft tp-resizeme"
								data-x="50"
								data-y="100" 
								data-speed="500"
								data-start="1500"
								data-easing="Cubic.easeOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
									Make Your Workplace <br />
									Shine
							</div>

							<div class="tp-caption skewfromrightshort tp-resizeme"
								data-x="50"
								data-y="300" 
								data-speed="500"
								data-start="1000"
								data-easing="easeInCirc"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 3; font-size:20px; color:#fff; font-weight:300; text-shadow:none;">
								Learn more about our corporate building services.
							</div>

							<div class="tp-caption sfb tp-resizeme"
								data-x="50"
								data-y="410" 
								data-speed="500"
								data-start="1500"
								data-easing="Power3.easeIn"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 4; max-width: auto;">
									<a class="btn btn-red btn-lg" href="corporate">OUR SERVICES &nbsp; <i class="fa fa-angle-right"></i></a>
							</div>

							<div class="tp-caption sfb tp-resizeme"
								data-x="250"
								data-y="410" 
								data-speed="500"
								data-start="1500"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">
									<a class="btn btn-default btn-lg" href="quoteform">GET A QUOTE &nbsp; <i class="fa fa-angle-right"></i></a>
							</div>
					</li>

				</ul>

			</div>
		</div>
		<!-- /REVOLUTION SLIDER -->

		<hr class="m-0" /><!-- 1px line separator -->

		<!-- Buttons Ribbon -->
		<!-- <div class="row bgcolor">
			<div class="col">
				<a href="#work" class="btn btn-xlg btn-primary fs-20 fullwidth m-0 rad-0 p-40">
					<span class="font-lato fs-20">
						<strong> Awards & <br /> Projects &raquo;</strong>
					</span>
				</a>
			</div>

			<div class="col">
				<a href="residential" class="btn btn-xlg btn-primary fs-20 fullwidth m-0 rad-0 p-40">
					<span class="font-lato fs-20">
						<strong> Residential <br /> Buildings &raquo;</strong>
					</span>
				</a>
			</div>

			<div class="col">
				<a href="corporate" class="btn btn-xlg btn-primary fs-20 fullwidth m-0 rad-0 p-40">
					<span class="font-lato fs-20">
						<strong>Corporate <br /> Buildings &raquo;</strong>
					</span>
				</a>
			</div>
		</div> -->
		<!-- /Buttons Ribbon -->

		<hr class="m-0" /><!-- 1px line separator -->

		<!-- basic info ribbon -->
			<section id="services">
				<div class="container">

					<div class="row">
						<div class="col-sm-4">
							<a class="image-hover lightbox" href="#work" data-plugin-options='{"type":"iframe"}'>
								<img class="img-fluid" src="assets/AdobeStock_162479912.jpeg" alt="Awards Button" />
							</a>
							<h3 class="mt-10">Prizes and Awards</h3>
							<p>Rocket Elevators is an award-winning company and has participated in major projects. We go above and beyond your expectations. </p>
							<a href="#work" class="btn btn-default">LEARN MORE</a>
						</div>

						<div class="col-sm-4">
							<a class="image-hover lightbox" href="residential" data-plugin-options='{"type":"iframe"}'>
								<img class="img-fluid" src="assets/AdobeStock_124493370.jpeg" alt="Residential Elevator" />
							</a>
							<h3 class="mt-10">Residential Services</h3>
							<p>Rocket Elevators makes a range of elevators for residential use. We offer a large selection of factory finish options to build on a range of mechanical drive systems.</p>
							<a href="residential" class="btn btn-default">READ MORE</a>
						</div>

						<div class="col-sm-4">
							<a class="image-hover lightbox" href="corporate" data-plugin-options='{"type":"iframe"}'>
								<img class="img-fluid" src="./assets/AdobeStock_146216308.jpeg" alt="Corporate Elevator" />
							</a>
							<h3 class="mt-10">Corporate and Commercial Services</h3>
							<p>Rocket Elevators has become a trusted source for commercial lifts and elevators by offering companies only the best products.</p>
							<a href="corporate" class="btn btn-default">READ MORE</a>
						</div>

					</div>

				</div>
			</section>
		<!-- /basic info ribbon -->


		<!-- Parallax Ribbon -->
		<section class="parallax parallax-1" style="background-image: url(<%= asset_url("AdobeStock_73868131.jpeg") %>);">
			<div class="overlay dark-5">
				<!-- dark overlay [1 to 9 opacity] -->
			</div>

			<div class="container-fluid">

				<div class="text-center">
					<h2 class="fs-40 fw-300"> Elevator Experts Since 1976 </h2>
					<a class="btn btn-default btn-lg" href="#services">OUR SERVICES <i
							class="fa fa-angle-right"></i></a>
					&nbsp; OR &nbsp;
					<a class="btn btn-red btn-lg" href="quoteform">REQUEST A QUOTE <i
							class="fa fa-angle-right"></i></a>
				</div>

			</div>
		</section>
		<!-- /Parallax Ribbon-->


		<!-- PORTFOLIO -->
		<section id="work">
			<div class="container-fluid">
				<div class="heading-title heading-dotted text-center">
					<h2>Portfolio</h2>
				</div>

				<div class="text-center">
					<ul class="nav nav-pills mix-filter mb-60">
						<li data-filter="all" class="filter active"><a href="#">All</a></li>
						<li data-filter="residential" class="filter"><a href="residential">Residential</a></li>
						<li data-filter="corporate" class="filter"><a href="corporate">Corporate</a></li>
						<li data-filter="project" class="filter"><a href="#">Project</a></li>
						<li data-filter="awards" class="filter"><a href="#">Awards</a></li>
					</ul>
				</div>
			</div>

				<div id="portfolio" class="portfolio-nogutter">

						<div class="row mix-grid">
							
							<div class="col-md-3 col-sm-3 mix corporate"><!-- item 1 / corporate -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">
												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="assets/bruno-kelzer-dendZhhfkTc-unsplash.jpg"
													data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>
											</span>
										</span>
										<img class="img-fluid" src="assets/bruno-kelzer-dendZhhfkTc-unsplash.jpg" width="600" height="399" alt="">
									</figure>

									<div class="item-box-desc">
										<h3>Modern Corporate Style</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Modern</a></li>
											<li><a href="#">Corporate</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix corporate"><!-- item 2 / corporate-->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">
												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="assets/camille-chen-N0ku2VxW4DA-unsplash.jpg"
													data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>
											</span>
										</span>
										<img class="img-fluid" src="assets/camille-chen-N0ku2VxW4DA-unsplash.jpg" width="600" height="399" alt="">
									</figure>

									<div class="item-box-desc">
										<h3>Sydney Paramount Hotel</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Commercial</a></li>
											<li><a href="#">Modern</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix project"><!-- item 3 / project based-->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">
												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="ssets/charles-U5-LdkPFzkk-unsplash.jpg"
													data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>
											</span>
										</span>
										<img class="img-fluid" src="assets/charles-U5-LdkPFzkk-unsplash.jpg" width="600" height="399" alt="">
									</figure>

									<div class="item-box-desc">
										<h3>National Library</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Commercial</a></li>
											<li><a href="#">Modern</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix corporate"><!-- item 4 / corporate-->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">
												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="assets/frankie-lopez-M2uJLV9VPuo-unsplash.jpg"
													data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>
											</span>
										</span>
										<img class="img-fluid" src="assets/frankie-lopez-M2uJLV9VPuo-unsplash.jpg" width="600" height="399" alt="">
									</figure>

									<div class="item-box-desc">
										<h3>Munich Main Hotel</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Commercial</a></li>
											<li><a href="#">Corporate</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix residential"><!-- item 5 / residential -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">
												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="assets/fred-kleber-tSDsY-zvg5k-unsplash.jpg"
													data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>
											</span>
										</span>
										<img class="img-fluid" src="assets/fred-kleber-tSDsY-zvg5k-unsplash.jpg" width="600" height="399" alt="">
									</figure>

									<div class="item-box-desc">
										<h3>Vietnam Residential Building</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Residential</a></li>
											<li><a href="#">Modern</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix project"><!-- item 6 / project -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">
												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="assets//luca-bravo-_mUJBHE7z_0-unsplash.jpg"
													data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>
											</span>
										</span>
										<img class="img-fluid" src="assets//luca-bravo-_mUJBHE7z_0-unsplash.jpg" width="600" height="399" alt="">
									</figure>

									<div class="item-box-desc">
										<h3>Amsterdam Library</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Modern</a></li>
											<li><a href="#">Commercial</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix prizes "><!-- item 7 / prizes  -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">
												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="assets//michel-paz-Nsn_NDZDX7U-unsplash.jpg"
													data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>
											</span>
										</span>
										<img class="img-fluid" src="assets//michel-paz-Nsn_NDZDX7U-unsplash.jpg" width="600" height="399" alt="">
									</figure>

									<div class="item-box-desc">
										<h3>Dubai Tallest Building</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Prize</a></li>
											<li><a href="#">Award</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix prizes "><!-- item 8 / prizes -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">
												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="assets/sung-jin-cho--S87hxapFvU-unsplash.jpg"
													data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>
											</span>
										</span>
										<img class="img-fluid" src="assets/sung-jin-cho--S87hxapFvU-unsplash.jpg" width="600" height="399" alt="">
									</figure>

									<div class="item-box-desc">
										<h3>Japan Modern Building</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Modern</a></li>
											<li><a href="#">Award</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->

							<div class="col-md-3 col-sm-3 mix residential project"><!-- item  9 / residential -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">
												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="assets/wander-fleur-lj-RMh2bOSc-unsplash.jpg"
													data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>
											</span>
										</span>
										<img class="img-fluid" src="assets/wander-fleur-lj-RMh2bOSc-unsplash.jpg" width="600" height="399" alt="">
									</figure>

									<div class="item-box-desc">
										<h3>Residential On Demand Elevator</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">On Demand</a></li>
											<li><a href="#">Residential</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->

							<div class="col-md-3 col-sm-3 mix corporate"><!-- item 10 / corporate-->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">
												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="assets/AdobeStock_162479912.jpeg"
													data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>
											</span>
										</span>
										<img class="img-fluid" src="assets/AdobeStock_162479912.jpeg" width="600" height="399" alt="elevator multi-storey">
									</figure>

									<div class="item-box-desc">
										<h3>Restaurant in the Clouds</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Commercial</a></li>
											<li><a href="#">On Demand</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->

							<div class="col-md-3 col-sm-3 mix residential"><!-- item 11 / residential-->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">
												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="assets/sara-kurfess-DQYwXF66v1I-unsplash.jpg"
													data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>
											</span>
										</span>
										<img class="img-fluid" src="assets/sara-kurfess-DQYwXF66v1I-unsplash.jpg" width="600" height="399" alt="">
									</figure>

									<div class="item-box-desc">
										<h3>New York Residential Building</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Residential</a></li>
											<li><a href="#">On Demand</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->

							<div class="col-md-3 col-sm-3 mix prizes"><!-- item 12 / prizes -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">
												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="assets/SpaceElev.jpg"
													data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>
											</span>
										</span>
										<img class="img-fluid" src="assets/SpaceElev.jpg" width="600" height="399" alt="Space Elevator">
									</figure>

									<div class="item-box-desc">
										<h3>Best International Elevators</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Prize</a></li>
											<li><a href="#">Award</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->

						</div> <!-- end of portfolio not gutter -->


				</div>
		</section>
		<!-- /PORTFOLIO -->


		<!-- Members carousel-->
		<section class="section-xs dark">
			<div class="container-fluid">

				<div class="owl-carousel text-center owl-testimonial m-0"
					data-plugin-options='{"singleItem": true, "autoPlay": 2000, "navigation": false, "pagination": true, "transitionStyle":"fade"}'>
					<div class="testimonial">
						<figure>
							<img class="rounded" src="assets/mathieu.jpg" alt="picture of Mathieu Houde"
								style="width: 100px; height: 100px; object-fit:cover;" />
						</figure>
						<div class="testimonial-content p-0">
							<p class="lead">"We only make the greatest elevators."</p>
							<cite>
								Mathieu Houde
								<span>CEO</span>
							</cite>
						</div>
					</div>
					<div class="testimonial">
						<figure>
							<img class="rounded" src="assets/maria.jpeg" alt="picture of Maria Aguilar"
								style="width: 100px; height: 100px; object-fit:cover;" />
						</figure>
						<div class="testimonial-content p-0">
							<p class="lead">"It's nice working here!!"</p>
							<cite>
								Maria Aguilar
								<span>Employee of the month</span>
							</cite>
						</div>
					</div>
				</div>

			</div>
		</section>
		<!-- /Members carousel -->


		<!-- News -->
		<section id="news">
			<div class="container">

				<div class="heading-title heading-dotted text-center">
					<h2>Recent News</h2>
				</div>

				<div class="owl-carousel owl-padding-10 buttons-autohide controlls-over" data-plugin-options='{"singleItem": false, "items":"4", "autoPlay": 4000, "navigation": true, "pagination": false}'>
					<div class="img-hover">
						<a href="https://www.elevatorworld.com/blogs/">
							<img class="img-fluid" src="assets/architecture-black-and-white-building-business-273209.jpg" alt="Skyscraper">
						</a>

						<h4 class="text-left mt-20"><a href="https://www.elevatorworld.com/blogs/">How Skyscrapers Are Built</a></h4>
						<p class="text-left">Learn more about how a skyscraper is built with this animated infographic.</p>
						<ul class="text-left fs-12 list-inline list-separator">
							<li>
								<i class="fa fa-calendar"></i> 
								January 24th, 2020
							</li>
							<li>
								<a href="https://www.elevatorworld.com/blogs/how-skyscrapers-are-built/#respond">
									<i class="fa fa-comments"></i> 
									0
								</a>
							</li>
						</ul>
					</div>
					<div class="img-hover">
						<a href="https://www.elevators.com/elevators-vs-stairs-infographic/">
							<img class="img-fluid" src="assets/lighthouse-snail-staircase-53554.jpg" alt="Stairs">
						</a>

						<h4 class="text-left mt-20"><a href="https://www.elevators.com/elevators-vs-stairs-infographic/">Elevators vs Stairs Infographic</a></h4>
						<p class="text-left">Taking the stairs is definitely healthier, but when you're in a rush, an elevator can save you so much time. Learn more.</p>
						<ul class="text-left fs-12 list-inline list-separator">
							<li>
								<i class="fa fa-calendar"></i> 
								August 4th, 2016
							</li>
							<li>
								<a href="https://www.elevators.com/elevators-vs-stairs-infographic/">
									<i class="fa fa-comments"></i> 
									0
								</a>
							</li>
						</ul>
					</div>
					<div class="img-hover">
						<a href="https://blogs.scientificamerican.com/guest-blog/hold-that-door-please-observations-on-elevator-etiquette/">
							<img class="img-fluid" src="assets/damir-kopezhanov-rM1ZL-jWDaI-unsplash.jpg" alt="Man in an elevator">
						</a>

						<h4 class="text-left mt-20"><a href="https://blogs.scientificamerican.com/guest-blog/hold-that-door-please-observations-on-elevator-etiquette/">Hold that door, please!</a></h4>
						<p class="text-left">Taking the elevator means you have to deal with other people. Elevator etiquette is not always easy for everyone. Learn more. </p>
						<ul class="text-left fs-12 list-inline list-separator">
							<li>
								<i class="fa fa-calendar"></i> 
								November 4th, 2010
							</li>
							<li>
								<a href="https://blogs.scientificamerican.com/guest-blog/hold-that-door-please-observations-on-elevator-etiquette/">
									<i class="fa fa-comments"></i> 
									3
								</a>
							</li>
						</ul>
					</div>
					<div class="img-hover">
						<a href="https://www.alcorelevator.com/blog/dos-and-donts-of-elevator-safety/">
							<img class="img-fluid" src="assets/robert-v-ruggiero-BG-iyXjJiLs-unsplash.jpg" alt="">
						</a>

						<h4 class="text-left mt-20"><a href="https://www.alcorelevator.com/blog/dos-and-donts-of-elevator-safety/">Do’s and Don’ts of Elevator Safety</a></h4>
						<p class="text-left">Riding the elevator is much more than just getting on it. Learn what to do and what not to for your safety</p>
						<ul class="text-left fs-12 list-inline list-separator">
							<li>
								<i class="fa fa-calendar"></i> 
								January 17th, 2019
							</li>
							<li>
								<a href="https://www.alcorelevator.com/blog/dos-and-donts-of-elevator-safety/">
									<i class="fa fa-comments"></i> 
									3
								</a>
							</li>
						</ul>
					</div>
					<div class="img-hover">
						<a href="https://elproelevators.com/10-most-interesting-elevators-in-the-world/">
							<img class="img-fluid" src="assets/yucel-moran-pFUJoERR4o8-unsplash.jpg" alt="Sofa Elevator">
						</a>
						<h4 class="text-left mt-20"><a href="https://elproelevators.com/10-most-interesting-elevators-in-the-world/">10 Most Interesting Elevators In The World</a></h4>
						<p class="text-left">When everyday we get to see and use elevators, some designers have gone above and beyond to make some interesting models. Learn more in this article.</p>
						<ul class="text-left fs-12 list-inline list-separator">
							<li>
								<i class="fa fa-calendar"></i> 
								August 20th, 2018
							</li>
							<li>
								<a href="https://elproelevators.com/10-most-interesting-elevators-in-the-world/">
									<i class="fa fa-comments"></i> 
									2
								</a>
							</li>
						</ul>
					</div>
					<div class="img-hover">
						<a href="https://blog.mogo.ca/5-fun-elevator-hacks-how-to-master-the-up-and-down/">
							<img class="img-fluid" src="assets/russ-ward--inmwDB0800-unsplash.jpg" alt="">
						</a>
						<h4 class="text-left mt-20"><a href="https://blog.mogo.ca/5-fun-elevator-hacks-how-to-master-the-up-and-down/">5 Fun Elevator Hacks (how to master the up and down)</a></h4>
						<p class="text-left">Be the master in an elevator and know how to operate it with these five fun tricks.</p>
						<ul class="text-left fs-12 list-inline list-separator">
							<li>
								<i class="fa fa-calendar"></i> 
								August 21st, 2014
							</li>
							<li>
								<a href="https://blog.mogo.ca/5-fun-elevator-hacks-how-to-master-the-up-and-down/">
									<i class="fa fa-comments"></i> 
									1
								</a>
							</li>
						</ul>
					</div>
			</div>
		</section>
		<!-- /News -->


		<!-- Customers -->
		<section id="customers" class="alternate">
			<div class="container-fluid">

				<div class="heading-title heading-dotted text-center">
					<h2>Our Customers</h2>
				</div>

				<ul class="row clients-dotted list-inline">
					<li class="col-md-3 col-sm-3 col-6">
						<img class="img-fluid img-logo" src="assets/debian.svg" alt="Debian logo" />
					</li>
					<li class="col-md-3 col-sm-3 col-6">
						<img class="img-fluid img-logo" src="assets/fujifilm.svg" alt="Fujifilm logo" />
					</li>
					<li class="col-md-3 col-sm-3 col-6">
						<img class="img-fluid img-logo" src="assets/gog-dot-com.svg" alt="Gog-dot-com logo" />
					</li>
					<li class="col-md-3 col-sm-3 col-6">
						<img class="img-fluid img-logo" src="assets/ifood.svg" alt="iFood logo" />
					</li>
					<li class="col-md-3 col-sm-3 col-6">
						<img class="img-fluid img-logo" src="assets/kaios.svg" alt="Kaios logo" />
					</li>
					<li class="col-md-3 col-sm-3 col-6">
						<img class="img-fluid img-logo" src="assets/playerfm.svg" alt="Coveo logo" />
					</li>
					<li class="col-md-3 col-sm-3 col-6">
						<img class="img-fluid img-logo" src="assets/player-dot-me.svg" alt="Player-dot-me logo" />
					</li>
					<li class="col-md-3 col-sm-3 col-6">
						<img class="img-fluid img-logo" src="assets/radiopublic.svg"
							alt="Radiopublic logo" />
					</li>
					<li class="col-md-3 col-sm-3 col-6">
						<img class="img-fluid img-logo" src="assets/stadia.svg" alt="stadia logo" />
					</li>
					<li class="col-md-3 col-sm-3 col-6">
						<img class="img-fluid img-logo" src="assets/storybook.svg" alt="storybook logo" />
					</li>
					<li class="col-md-3 col-sm-3 col-6">
						<img class="img-fluid img-logo" src="assets/macys.svg" alt="Macys logo" />
					</li>
					<li class="col-md-3 col-sm-3 col-6">
						<img class="img-fluid img-logo" src="assets/mcafee.svg" alt="McAfee logo" />
					</li>
				</ul>

			</div>
		</section>
		<!-- /Customers -->

		<!-- CONTACT -->
			<section id="contact">
				<div class="container">

					<header class="text-center mb-60">
						<h2>Contact Us</h2>
						<hr />
					</header>

					<div class="row">

						<!-- INFO -->
						<div class="col-md-4 col-sm-4">

							<h2>Visit Us</h2>
							<h3>Rocket Elevators</h3>

							<hr />

							<p>
								<span class="block"><strong><i class="fa fa-map-marker"></i> Address:</strong> 4468 Wellington St Suite 204, Verdun, Quebec H4G 1W5</span>
								<span class="block"><strong><i class="fa fa-envelope"></i> Email:</strong> <a href="mailto:info@rocketelevators.com">info@rocketelevators.com</a></span>
							</p>

						</div>
						<!-- /INFO -->

						<!-- FORM -->
						<div class="col-md-8 col-sm-8">

							<h3>Drop us a line or just say <strong><em>Hello!</em></strong></h3>

							<!-- Alert Success -->
							<div id="alert_success" class="alert alert-success mb-30">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								<strong>Thank You!</strong> Your message successfully sent!
							</div><!-- /Alert Success -->


							<!-- Alert Failed -->
							<div id="alert_failed" class="alert alert-danger mb-30">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								<strong>[SMTP] Error!</strong> Internal server error!
							</div><!-- /Alert Failed -->


							<!-- Alert Mandatory -->
							<div id="alert_mandatory" class="alert alert-danger mb-30">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								<strong>Sorry!</strong> You need to complete all mandatory (*) fields!
							</div><!-- /Alert Mandatory -->

							<fieldset>
								<input type="hidden" name="action" value="contact_send" />

								<div class="row">
										<div class="col-md-4">
											<label for="leads_full_name">Full Name *</label>
											<input required type="text" value="" class="form-control" name="lead[full_name]" id="leads_full_name">
										</div>
										<div class="col-md-4">
											<label for="leads_email">E-mail Address *</label>
											<input required type="email" value="" class="form-control" name="lead[email]" id="leads_email">
										</div>
										<div class="col-md-4">
											<label for="leads_phone">Phone</label>
											<input type="text" value="" class="form-control" name="lead[phone]" id="leads_phone">
										</div>
								</div>

								<div class="row">
									<div class="col-md-4">
										<label for="leads_company_name">Business Name</label>
										<input type="text" value="" class="form-control" name="lead[company_name]" id="leads_company_name">
									</div>
									<div class="col-md-4">
										<label for="leads_project_name">Project Name</label>
										<input type="text" value="" class="form-control" name="lead[project_name]" id="leads_project_name">
									</div>
									<div class="col-md-4">
										<label for="leads_department">Department *</label>
										<select required class="form-control pointer" name="lead[department]" id="leads_department">
											<option value="">--- Select ---</option>
											<option value="Question">Question</option>
											<option value="Residential">Residential</option>
											<option value="Corporate">Corporate</option>
										</select>
									</div>
								</div>

								<div class="row">
									<div class="col-md-12">
										<label for="leads_description">Project Description</label>
										<input type="text" value="" class="form-control" name="lead[project_desc]" id="leads_description">
									</div>
									
								</div>
								<div class="row">
										<div class="col-md-12">
											<label for="leads_message">Message *</label>
											<textarea required maxlength="10000" rows="8" class="form-control" name="lead[message]" id="leads_message"></textarea>
										</div>
								</div>
								<div class="row">
										<div class="col-md-12">
											<label for="leads_attachment">File Attachment</label>

											<!-- custom file upload -->
											<input class="custom-file-upload" type="file" id="file" name="lead[attached_file]" id="leads_attachment" data-btn-text="Select a File" />
											<small class="text-muted block">Max file size: 10Mb (zip/pdf/jpg/png)</small>

										</div>
								</div>

							</fieldset>

							<div class="row">
								<div class="col-md-12">
									<!-- <button id="submitbtn1" type="submit" class="btn btn-primary"><i class="fa fa-check"></i> SEND MESSAGE</button> -->
